* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    min-height: 100vh;
    background-color: #1B191A;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.grid {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.grid__item {
    max-width: 33.3333%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.card {
    font: 16px/24px Roboto, Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card__head {
    position: relative;
    flex-shrink: 0;
}

.card__pic {
    display: block;
    width: 100%;
    height: 240px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.card__name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font: 16px/24px Roboto, Arial, Helvetica, sans-serif;
    border-top-right-radius: 8px;
}

.card__rewards {
    position: absolute;
    top: 16px;
    right: 16px;
    list-style-type: none;
}

.card__reward {
    margin-bottom: 8px;
    height: 32px;
    width: 32px;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.card__reward-pic {
    display: block;
    margin: auto;
}

.card__body {
    background-color: #fff;
    padding: 16px;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.card__descr {
    margin-bottom: 24px;
    flex-grow: 1;
}

.card__button {
    flex-shrink: 0;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    max-width: 100%;
    background-color: #8c32ff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font: 16px/24px Roboto, Arial, Helvetica, sans-serif;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.grid--horizontal .grid__item{
    max-width: 50%;
}

.grid--horizontal .card{
    flex-direction: row;
}

.grid--horizontal .card__head {
    width: 50%;
}

.grid--horizontal .card__pic {
    height: 100%;
    border-radius: 8px 0 0 8px;
}

.grid--horizontal .card__name {
    border-radius: 0 8px 0 8px;
}

.grid--horizontal .card__body {
    border-radius: 0 8px 8px 0;
    padding: 16px 9px;
}

@media (max-width: 768px){
    .grid--horizontal .grid__item{
        max-width: 100%;
    }
}
